.container {
  box-sizing: border-box;
  display: flex;
}
.card {
  border: rgb(68, 143, 210);
  border-style: groove;
}

.display-6 {
  color: rgb(20, 89, 150);
  font-size: bold;
  position: relative;
}
img {
  position: relative;
  max-height: 500px;
}
.btn {
  margin: 10%;
  border-radius: 25px;
  background-color: rgb(68, 143, 210);
  color: aliceblue;
  position: static;
}
.btn:hover {
  color: rgb(68, 143, 210);
  background-color: aliceblue;
  transition: 0.6s;
}
.btn:active {
  color: rgb(68, 143, 210);
  background-color: aliceblue;
}
